body {
  --contentWidth:400px;
  padding: 4rem;
  margin:0 auto;
  max-width: 700;
  scrollbar-width: 20px;
  }

#screen1{
 position: sticky;
 top: 0;
}

.fa fa-fire-extinguisher{
 margin-left: auto;
 display: inline-flex;
}


.articulo h3{
  color: #e6b800 ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.articulo p{
  color: #e67300 ;
  font-family: sans-serif;
}

dl {
  margin-bottom:50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

dl dd {
  margin:2px 0; 
  padding:5px 0;
  color: yellow;
  background-color: transparent;
}

ul.policies li{
  list-style-type: circle;
  margin: 0;
  padding: 0;
  color: #e67300;
  font-weight: bold;
}

.extrs_mor {
  width: 1085px;
  height: 210px;
  margin: 10px auto 20px;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
}